@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Katahdin Round";
  src: url(fonts/katahdin-round/KatahdinRound.otf) format("opentype");
}

@font-face {
  font-family: "Fivo Sans";
  font-weight: 400;
  src: url("fonts/fivo-sans/FivoSans/FivoSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Fivo Sans";
  font-weight: 700;
  src: url("fonts/fivo-sans/FivoSans/FivoSans-Bold.otf") format("opentype");
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

@layer utilities {
  details {
    @apply lg:w-[923px] bg-purple text-deep-purple rounded-[30px] py-2.5 lg:px-12 px-4 pointer-events-auto;
  }

  details summary {
    @apply flex items-center justify-between text-2xl font-bold hover:cursor-pointer after:float-right marker:content-none after:content-none after:w-9 after:h-9 after:justify-self-end;
  }

  details p {
    @apply text-2xl;
  }

  canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #faq > div > * {
    position: relative;
    z-index: 10;
  }
}
